html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 48px;
}

section{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.text {
    width: 30%;
    text-align: left;
    margin-left: 20px;
}

video {
    width: 50%;
    height: auto;
}

#vertical {
    width: 25%;
    height: auto:
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 60vw;
    height: auto;
    flex-wrap: wrap;
  padding: 0 10px;
}

img {
    width: 45%;
    height: auto;
}

#hori {
    width: 80%;
    height: auto;
}